 
        <!-- Page Header -->
        <form method="post" id="updateproduction">
            <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                <h1 class="page-title fw-semibold fs-18 mb-0">Edit Productions</h1>
                <div class="ms-md-1 ms-0"> <div class="row gy-2">  
                    <div class="col-xl-4">
                    <select class="form-control form-select" name="unit">
    
                        <% unitlist.forEach(data => { %>
                            <option value="<%= data.id %>" <%= data.id === prodata.unit ? 'selected' : '' %>>
                                <%= data.name %>
                            </option>
                        <% }); %>
    
                    </select>
                </div>
    
                    <div class="col-xl-4">
                         <input type="number" class="form-control" name="totalbars" placeholder="Total Bars" value="<%=prodata.bars%>" required readonly id="totalTot">
                    </div>
                    
                    <div class="col-xl-4"> 
                         <input type="hidden" value="<%=prodata.id%>" name="id">
                         <button type="submit" name="submit" value="Save" class="btn btn-sm btn-primary btn-wave waves-light waves-effect waves-light" style="margin-top: 4px ;">Update</button>
                    </div> 
                     
                </div>
                </div>
            </div>
            <!-- Page Header Close -->
            
            <!-- Start::row-1 -->
            <div class="row">
              
                <div class="col-xxl-4 col-xl-4">
                    <div class="card custom-card">
                       
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable-basic" class="table table-bordered text-nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Row</th>
                                            <th scope="col" class="text-center" >Time</th>
                                            <th scope="col" class="text-center">AM/PM</th>                                        
                                            <th scope="col" class="text-center">Quantity</th>   
                                            <th scope="col" class="text-center">Bars</th>          
                                        </tr>
                                        <% for (let i = 1; i <= 10; i++) { %>
                                            <tr>
                                                <td style="padding: 6px;text-align: center;"><b><%= i %></b></td>
                                                <td  style="padding: 6px;"><input type="text" name="time-<%= i %>" class="form-control" value="<%= prodata.data[`time-${i}`] %>">
                                                </td>
                                                <td  style="padding: 6px;"><select style="width: 80px;"  name="ampm-<%=i%>"   class="form-control form-select">
                                                    <option value="AM" <%= prodata.data[`ampm-${i}`] === 'AM' ? 'selected' : '' %> >AM</option>
                                                    <option value="PM" <%= prodata.data[`ampm-${i}`] === 'PM' ? 'selected' : '' %> >PM</option>
                                                </select></td>
                                                <td style="text-align: center;padding: 6px;"><input type="checkbox" name="qty-<%=i%>" class="qty-value"  onclick="updateTotal(this)"  <%= prodata.data[`qty-${i}`] === 'on' ? 'checked' : '' %>></td>
                                                <td  style="padding: 6px;"><input type="text" name="tot-<%=i%>" class="form-control  tot-value" readonly value="<%= prodata.data[`tot-${i}`] %>"></td>
                                            </tr>
                                          <% } %>
                                        
                                    </thead>
                                    <tbody> 
                                         
                                    </tbody>
                                </table>
     
                            </div>
                        </div>
                         
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4">
                    <div class="card custom-card">
                       
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable-basic" class="table table-bordered text-nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Row</th>
                                            <th scope="col" class="text-center" >Time</th>
                                            <th scope="col" class="text-center">AM/PM</th>                                        
                                            <th scope="col" class="text-center">Quantity</th>   
                                            <th scope="col" class="text-center">Bars</th>          
                                        </tr>
                                        <% for (let i = 11; i <= 20; i++) { %>
                                            <tr>
                                                <td style="padding: 6px;text-align: center;"><b><%= i %></b></td>
                                                <td  style="padding: 6px;"><input type="text" name="time-<%=i%>" class="form-control" value="<%= prodata.data[`time-${i}`] %>"></td>
                                                <td  style="padding: 6px;"><select style="width: 80px;"  name="ampm-<%=i%>"   class="form-control form-select">
                                                    <option value="AM" <%= prodata.data[`ampm-${i}`] === 'AM' ? 'selected' : '' %> >AM</option>
                                                    <option value="PM" <%= prodata.data[`ampm-${i}`] === 'PM' ? 'selected' : '' %> >PM</option>
                                                </select></td>
                                                <td style="text-align: center;padding: 6px;"><input type="checkbox" name="qty-<%=i%>" class="qty-value"  onclick="updateTotal(this)"  <%= prodata.data[`qty-${i}`] === 'on' ? 'checked' : '' %>></td>
                                                <td  style="padding: 6px;"><input type="text" name="tot-<%=i%>" class="form-control  tot-value" readonly value="<%= prodata.data[`tot-${i}`] %>"></td>
                                            </tr>
                                          <% } %>
                                        
                                    </thead>
                                    <tbody> 
                                         
                                    </tbody>
                                </table>
     
                            </div>
                        </div>
                         
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4">
                    <div class="card custom-card">
                       
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="datatable-basic" class="table table-bordered text-nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Row</th>
                                            <th scope="col" class="text-center" >Time</th>
                                            <th scope="col" class="text-center">AM/PM</th>                                        
                                            <th scope="col" class="text-center">Quantity</th>   
                                            <th scope="col" class="text-center">Bars</th>          
                                        </tr>
                                        <% for (let i = 21; i <= 30; i++) { %>
                                            <tr>
                                                <td style="padding: 6px;text-align: center;"><b><%= i %></b></td>
                                                <td  style="padding: 6px;"><input type="text" name="time-<%=i%>" class="form-control" value="<%= prodata.data[`time-${i}`] %>"></td>
                                                <td  style="padding: 6px;"><select style="width: 80px;"  name="ampm-<%=i%>"   class="form-control form-select">
                                                    <option value="AM" <%= prodata.data[`ampm-${i}`] === 'AM' ? 'selected' : '' %> >AM</option>
                                                    <option value="PM" <%= prodata.data[`ampm-${i}`] === 'PM' ? 'selected' : '' %> >PM</option>
                                                </select></td>
                                                <td style="text-align: center;padding: 6px;"><input type="checkbox" name="qty-<%=i%>" class="qty-value"  onclick="updateTotal(this)"  <%= prodata.data[`qty-${i}`] === 'on' ? 'checked' : '' %>></td>
                                                <td  style="padding: 6px;"><input type="text" name="tot-<%=i%>" class="form-control tot-value" readonly value="<%= prodata.data[`tot-${i}`] %>"></td>
                                            </tr>
                                          <% } %>
                                        
                                    </thead>
                                    <tbody> 
                                         
                                    </tbody>
                                </table>
     
                            </div>
                        </div>
                         
                    </div>
                </div>
                 
     
            </div> 
        </form>
     
    
    <script> 
    function updateTotal(checkbox) {
        const row = checkbox.closest('tr');
        const totInput = row.querySelector('.tot-value');
        const currentValue = parseFloat(totInput.value) || 0;
    
        // Update the total for the row based on the checkbox state
        totInput.value = checkbox.checked ? currentValue + 18 : Math.max(0, currentValue - 18); // Avoid negative totals
    
        // Calculate the grand total
        let gtotal = 0;
        $('.tot-value').each(function () {
            const totValue = parseFloat($(this).val()) || 0;
            gtotal += totValue;
        });
    
        // Update the grand total field
        $('#totalTot').val(gtotal);
    }
    
    </script>
    
            <% script = ' <script src="/assets/js/production.js"></script> ' %>
            