 
            <div class="row mt-4">
                <div class="col-xl-9">
                    <div class="team-members" id="team-members">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card custom-card">
                                    <div class="card-body">
                                        <div class="team-header">
                                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                                <div class="h5 fw-semibold mb-0">Staffs</div>
                                                <div class="d-flex align-items-center">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control bg-light border-0" placeholder="Search Person Name" aria-describedby="search-team-member">
                                                        <button class="btn btn-light" type="button" id="search-team-member"><i class="ri-search-line text-muted"></i></button>
                                                    </div>
                                                    <div class="dropdown ms-2">
                                                        <button class="btn btn-light btn-wave waves-effect waves-light px-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="ti ti-dots-vertical fs-18"></i>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="javascript:void(0);">Delete Staff</a></li>
                                                            <li><a class="dropdown-item" href="javascript:void(0);">Edit</a></li>
                                                            <li><a class="dropdown-item" href="/staffs/create">Add Staff</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <% Staffs.forEach(staff => { %> 
                            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12"> 
                                <div class="card custom-card team-member-card">
                                    <div class="teammember-cover-image">
                                        <img src="/assets/images/media/team-covers/7.jpg" class="card-img-top" alt="...">
                                        <span class="avatar avatar-xl avatar-rounded">
                                            <img src="/<%=staff.profilepic%>">
                                        </span>
                                        <a href="javascript:void(0);" class="team-member-star text-warning">
                                            <i class="ri-star-fill fs-16"></i>
                                        </a>
                                    </div>
                                    <div class="card-body p-0"> 
                                        <div class="d-flex flex-wrap align-item-center mt-sm-0 mt-5 justify-content-between border-bottom border-block-end-dashed p-3">
                                            <div class="team-member-details flex-fill">
                                                <p class="mb-0 fw-semibold fs-16 text-truncate">
                                                    <a href="javascript:void(0);"><%=staff.firstname%> <%=staff.lastname%></a>
                                                </p>
                                                <p class="mb-0 fs-12 text-muted text-break"><%=staff.email%></p>
                                            </div>
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-icon btn-light btn-wave" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ti ti-dots-vertical"></i>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="javascript:void(0);">Move To</a></li>
                                                    <li><a class="dropdown-item" href="/staffs/edit/<%=staff.id%>">Edit</a></li>
                                                    <li><a class="dropdown-item staff-delete-btn" data-id="<%=staff.id%>" href="javascript:void(0);">Remove</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="team-member-stats d-sm-flex justify-content-evenly">
                                            <div class="text-center p-3 my-auto">
                                                <p class="fw-semibold mb-0">Staff Since</p>
                                                <span class="text-muted fs-12"><%=staff.joindate%></span>
                                            </div>
                                            <div class="text-center p-3 my-auto">
                                                <p class="fw-semibold mb-0">Tasks</p>
                                                <span class="text-muted fs-12">125</span>
                                            </div>
                                            <div class="text-center p-3 my-auto">
                                                <p class="fw-semibold mb-0">Position</p>
                                                <span class="text-muted fs-12"><%=staff.role%></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer border-block-start-dashed text-center">
                                        <div class="btn-list">
                                            <div class="btn-list">
                                                <button class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                                                    <i class="ri-facebook-line fw-bold"></i>
                                                </button>
                                                <button class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                                                    <i class="ri-twitter-x-line fw-bold"></i>
                                                </button>
                                                <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                                                    <i class="ri-instagram-line fw-bold"></i>
                                                </button>
                                                <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                                                    <i class="ri-github-line fw-bold"></i>
                                                </button>
                                                <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                                                    <i class="ri-youtube-line fw-bold"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %> 
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="team-groups">
                        <div class="card custom-card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h6 class="fw-semibold mb-0">All Staffs</h6> 
                                <div>
                                    <a class="btn btn-sm btn-primary-light" href="/staffs/create">Create Staff<i class="ri-add-line ms-1 align-middle"></i></a>
                                     
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="teams-nav" id="teams-nav">
                                    <ul class="list-unstyled mb-0 mt-2">
                                        <li class="pb-0">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="fs-10 fw-semibold mb-2 text-muted">TEAM UI</div>
                                                <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add Member">
                                                    <button class="btn btn-icon btn-sm btn-success-light btn-wave" data-bs-toggle="modal" data-bs-target="#create-teamui-mem"><i class="ri-add-line"></i></button>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex align-items-center">
                                                        <span class="avatar avatar-sm avatar-rounded online">
                                                            <img src="/assets/images/faces/3.jpg" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="flex-fill">
                                                        <span>Angelica Hale</span>
                                                    </div>
                                                    <div>
                                                        <span class="fs-10 fw-semibold text-muted">
                                                            
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex align-items-center">
                                                        <span class="avatar avatar-sm avatar-rounded offline">
                                                            <img src="/assets/images/faces/5.jpg" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="flex-fill">
                                                        <span>Mona Magore</span>
                                                    </div>
                                                    <div>
                                                        <span class="fs-10 fw-semibold text-muted">
                                                            8 min
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex align-items-center">
                                                        <span class="avatar avatar-sm avatar-rounded online">
                                                            <img src="/assets/images/faces/15.jpg" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="flex-fill">
                                                        <span>Mark Wains</span>
                                                    </div>
                                                    <div>
                                                        <span class="fs-10 fw-semibold text-muted">
                                                            
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex align-items-center">
                                                        <span class="avatar avatar-sm avatar-rounded online">
                                                            <img src="/assets/images/faces/12.jpg" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="flex-fill">
                                                        <span>Alex Carey</span>
                                                    </div>
                                                    <div>
                                                        <span class="fs-10 fw-semibold text-muted">
                                                            
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex align-items-center">
                                                        <span class="avatar avatar-sm avatar-rounded offline">
                                                            <img src="/assets/images/faces/7.jpg" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="flex-fill">
                                                        <span>Monika Karen</span>
                                                    </div>
                                                    <div>
                                                        <span class="fs-10 fw-semibold text-muted">
                                                            24 mins
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="pb-0">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="fs-10 fw-semibold mb-2 text-muted">TEAM REACT</div>
                                                <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Add Member">
                                                    <button class="btn btn-icon btn-sm btn-success-light btn-wave" data-bs-toggle="modal" data-bs-target="#create-teamreact-mem"><i class="ri-add-line"></i></button>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex align-items-center">
                                                        <span class="avatar avatar-sm avatar-rounded online">
                                                            <img src="/assets/images/faces/10.jpg" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="flex-fill">
                                                        <span>Matthew Ray</span>
                                                    </div>
                                                    <div>
                                                        <span class="fs-10 fw-semibold text-muted">
                                                            
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex align-items-center">
                                                        <span class="avatar avatar-sm avatar-rounded online">
                                                            <img src="/assets/images/faces/8.jpg" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="flex-fill">
                                                        <span>Melissa Blue</span>
                                                    </div>
                                                    <div>
                                                        <span class="fs-10 fw-semibold text-muted">
                                                            
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex align-items-center">
                                                        <span class="avatar avatar-sm avatar-rounded online">
                                                            <img src="/assets/images/faces/2.jpg" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="flex-fill">
                                                        <span>Brenda Sams</span>
                                                    </div>
                                                    <div>
                                                        <span class="fs-10 fw-semibold text-muted">
                                                            
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex align-items-center">
                                                        <span class="avatar avatar-sm avatar-rounded offline">
                                                            <img src="/assets/images/faces/14.jpg" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="flex-fill">
                                                        <span>Muhammed Kher</span>
                                                    </div>
                                                    <div>
                                                        <span class="fs-10 fw-semibold text-muted">
                                                            13 mins
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex align-items-center">
                                                        <span class="avatar avatar-sm avatar-rounded online">
                                                            <img src="/assets/images/faces/4.jpg" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="flex-fill">
                                                        <span>Dorga Boavan</span>
                                                    </div>
                                                    <div>
                                                        <span class="fs-10 fw-semibold text-muted">
                                                            
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2 d-flex align-items-center">
                                                        <span class="avatar avatar-sm avatar-rounded offline">
                                                            <img src="/assets/images/faces/13.jpg" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="flex-fill">
                                                        <span>Yashna Polana</span>
                                                    </div>
                                                    <div>
                                                        <span class="fs-10 fw-semibold text-muted">
                                                            19 mins
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                         
                                        
                                         
                                         
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 

        
 
        <% script = ' <script src="/assets/js/staffs.js"></script> ' %>
        